
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>More information: </strong> 
    <a href="https://www.linkedin.com/in/vinicius-fran%C3%A7a-99b15821b/">LinkedIn</a>
</address>

